.page {
  padding-top: 20px;
  padding-bottom: 20px;
}

.block {
  padding-bottom: 20px;
}

.align-right {
  text-align: right;
}

.textarea-content {
  width: 700px;
  height: 150px;
}

.post {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.padded-top {
  padding-top: 10px;
}